
<nav class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-brand navbar-left">
                    <li><a class="glimpseNav" href="/">glimpse</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i> logout</a>
                    </li>
                    <li class="dropdown" id="signup">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">{{username}}</a>
                        <div class="dropdown-menu">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <h1>glimpse home</h1>
    <p>take a look at what's going on around you</p>
    <a href="#" class="inset"><i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i></a>
</div>
<div class="flexGrid view">
    {{#each p}}
        <div class="flex-item imageHolder">
            <img src="https://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}_n.jpg"/>
            <div class="caption"><br>{{title}}</div>
        </div>
    {{/each}}
</div>



