<nav class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-brand navbar-left">
                    <li><a class="glimpseNav logo" href="/">glimpse</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i> logout</a>
                    </li>
                    <li class="dropdown" id="signup">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">{{username}}</a>
                        <div class="dropdown-menu">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <h1>welcome</h1>
    <p class="jumboText">take a look at what's going on around you</p>
    <a data-switch-contrast><i class="fa fa-sun-o fa-3x"></i></a>
</div>

<!-- Modal -->
<div id="uploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">leave a piece of yourself behind</h1>
            </div>
            <div class="modal-body">
                <form id="uploadForm" method="post" enctype="multipart/form-data"  action="/uploadPhoto">
                    <img id="preview" src="/images/placeholder.png" alt="/public/images/placeholder.png" />
                    <input type='file' id="imgInp" accept="image/*" capture="camera" name="imgInp">
                    <input type="submit" value="Submit">
                    <button type="button" class="btn alter"><i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i></button>
                    <div class="sliders">
                        <form class="imageEditor">
                            <button type="button" class="btn blurBtn"><i class="fa fa-tint fa-2x" aria-hidden="true"></i></button>
                            <button type="button" class="btn brightnessBtn"><i class="fa fa-sun-o fa-2x" aria-hidden="true"></i></button>
                            <button type="button" class="btn adjustBtn"><i class="fa fa-adjust fa-2x" aria-hidden="true"></i></button>
                            <button type="button" class="btn colorBtn"><i class="fa fa-paint-brush fa-2x" aria-hidden="true"></i></button>
                            <button type="button" class="btn addCap"><i class="fa fa-font fa-2x" aria-hidden="true"></i></button>
                            <p class="caption">
                                <input class="caption" type="text" name="caption" placeholder="caption">
                            </p>
                            <p class="blur">
                                <label for="blur">blur</label>
                                <input id="blur" name="blur" type="range" min="0" max="10" value="0">
                            </p>
                            <p class="brightness">
                                <label for="br">brightness</label>
                                <input id="br" name="br" type="range" min=0 max=200 value=100>
                            </p>
                            <p class="adjust">
                                <label for="ct">contrast</label>
                                <input id="ct" name="ct" type="range" min=0 max=200 value=100>
                            </p>
                            <p class="adjust">
                                <label for="opacity">opacity</label>
                                <input id="opacity" name="opacity" type="range" min=0 max=100 value=100>
                            </p>
                            <p class="color">
                                <label for="gs">grayscale</label>
                                <input id="gs" name="gs" type="range" min="0" max="100" value="0">
                            </p>
                            <p class="color">
                                <label for="hue">hue</label>
                                <input id="hue" name="hue" type="range" min=0 max=360 value=0>
                            </p>
                            <p class="color">
                                <label for="invert">invert</label>
                                <input id="invert" name="invert" type="range" min=0 max=100 value=0>
                            </p>
                            <p class="color">
                                <label for="saturate">saturate</label>
                                <input id="saturate" name="saturate" type="range" min=0 max=500 value=100>
                            </p>
                            <p class="color">
                                <label for="sepia">sepia</label>
                                <input id="sepia" name="sepia" type="range" min=0 max=100 value=0>
                            </p>
                        </form>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">scratch that</button>
                <button id="uploadImg" type="button" class="btn btn-success"  data-dismiss="modal">share</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="captionModal"></div>
            </div>
            <div class="modal-body">
                <img src="" class="imagepreview">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>


<div class="flexGrid view" id="content">
    {{#each p}}
        <div class="flex-item imageHolder pop">
            <img src="https://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}_n.jpg"/>
            <div class="caption">{{title}}</div>
        </div>
    {{/each}}
</div>

<script>
    $(function() {
        $('.pop').on('click', function() {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('.captionModal').text($(this).text());
            $('#imagemodal').modal('show');
        });
    });
</script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });
</script>

<script>
    // Editing image via css properties
    function editImage() {
        var gs = $("#gs").val(); // grayscale
        var blur = $("#blur").val(); // blur
        var br = $("#br").val(); // brightness
        var ct = $("#ct").val(); // contrast
        var hue = $("#hue").val(); //hue-rotate
        var opacity = $("#opacity").val(); //opacity
        var invert = $("#invert").val(); //invert
        var saturate = $("#saturate").val(); //saturate
        var sepia = $("#sepia").val(); //sepia

        $("#preview").css("filter", 'grayscale(' + gs+
                '%) blur(' + blur +
                'px) brightness(' + br +
                '%) contrast(' + ct +
                '%) hue-rotate(' + hue +
                'deg) opacity(' + opacity +
                '%) invert(' + invert +
                '%) saturate(' + saturate +
                '%) sepia(' + sepia + '%)');

        $("#preview").css("-webkit-filter", 'grayscale(' + gs+
                '%) blur(' + blur +
                'px) brightness(' + br +
                '%) contrast(' + ct +
                '%) hue-rotate(' + hue +
                'deg) opacity(' + opacity +
                '%) invert(' + invert +
                '%) saturate(' + saturate +
                '%) sepia(' + sepia + '%)');

    }
    $('input[type=range]').change(editImage).mousemove(editImage);
</script>

<script>
    $(document).ready(
            function() {
                $(".alter").click(function() {
                    $(".sliders").fadeToggle();
                });
                $(".addCap").click(function() {
                    $(".caption").fadeToggle();
                });
                $(".blurBtn").click(function() {
                    $(".blur").fadeToggle();
                });
                $(".colorBtn").click(function() {
                    $(".color").fadeToggle();
                });
                $(".brightnessBtn").click(function() {
                    $(".brightness").fadeToggle();
                });
                $(".adjustBtn").click(function() {
                    $(".adjust").fadeToggle();
                });
            });
</script>

<script>
    document.querySelector('[data-switch-contrast]').addEventListener('click', function() {
        document.body.classList.toggle('nightmode');
        $("i", this).toggleClass("fa-moon-o fa-3x  fa-sun-o fa-3x");
    });
</script>

<script>
    var amountScrolled = 300;
    $(window).scroll(function() {
        if ( $(window).scrollTop() > amountScrolled ) {
            $('a.back-to-top').fadeIn('slow');
        } else {
            $('a.back-to-top').fadeOut('slow');
        }
    });
    $('a.back-to-top').click(function() {
        $('html, body').animate({
            scrollTop: 0
        }, 700);
        return false;
    });
</script>

<script>
    function getReverseGeocodingData(lat, lng) {
        var latlng = new google.maps.LatLng(lat, lng);
        // This is making the Geocode request
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status !== google.maps.GeocoderStatus.OK) {
                alert(status);
            }
            // This is checking to see if the Geoeode Status is OK before proceeding
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results);
                var address = (results[0].formatted_address);
            }
        });

        console.log(address);
    }
</script>

